<%- include header %>
<!--<form method="post">-->
    <!--用户名：<input type="text" name="name"><br>-->
    <!--密码：<input type="password" name="password"><br>-->
    <!--确认密码：<input type="password" name="password-repeat"><br>-->
    <!--邮箱：<input type="email" name="email"><br>-->
    <!--<input type="submit" value="注册">-->
<!--</form>-->
<script>
    $(document).ready(function() {
        $("li.active").removeClass("active");
        $("li#register").addClass("active");
    });
</script>
<form class="form-horizontal col-sm-offset-2" method="post">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-5">
            <input type="text"  name="name" class="form-control" id="inputEmail3" placeholder="UserName..">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-5">
            <input type="password"  name="password" class="form-control" id="inputPassword3" placeholder="Password..">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-5">
            <input type="password" name="password-repeat" class="form-control" id="inputEmail3" placeholder="Password..">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-5">
            <input type="email" name="email" class="form-control" id="inputPassword3" placeholder="Email..">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-default">注册</button>
        </div>
    </div>
</form>
<%- include footer %>